.location {
  color: #fff;
  position: relative;

  .caption {
    font-family: "Ms Madi", cursive;
    font-size: 3rem;
    font-weight: bold;
  }

  .date {
    h2 {
      margin: 0;
      color: white;
      font-family: "Lora", serif;
    }
  }

  .address {
    color: white;
    font-family: "Lora", serif;
  }
}
.location .card {
  background-color: transparent;
  border: solid 2px #9ac8db;
  margin-bottom: 10px;
  border-radius: 10px;
}

.location .date span {
  font-size: 2rem;
  font-weight: 700;
}

.guest-book::before {
  background: #dadada !important;
}

.location::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3b576f;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.parallax {
  position: relative;
  min-height: 300px;
  color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  blockquote {
    color: white;
    font-family: "Lora", serif;
    font-size: 20px;
  }
  h3 {
    color: white;
    font-family: "Lora", serif;
    font-size: 25px;
    font-weight: bold;
  }
}

.parallax::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3b576f;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.text-center {
  text-align: center !important;
}

.countDownCard {
  border-radius: 12px !important;
  background: cadetblue !important;
  border: 1px solid #5f9da0 !important;
  min-height: 129.9px !important;
  color: white !important;
  font-family: "Lora", serif;
  .ant-card-head {
    font-size: 25px;
    font-family: "Lora", serif;
    color: #fff;
  }
}

.giftCard {
  padding: 20px 24px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
  background-repeat: no-repeat;
  height: 210px;
  min-height: 230px;
  opacity: 100%;
  text-align: left;

  .ant-card-head {
    height: 80px;
  }
}

.giftCard.bca {
  background-image: url(https://menica.pro/img/backgrounds/BCA.svg);
  background-repeat: no-repeat;
  background-position: right -22px bottom 10px;
}

.giftCard.bri {
  background-image: url(https://menica.pro/img/backgrounds/BRI.svg);
  background-repeat: no-repeat;
  background-position: right -22px bottom 2px;
}

.giftCard.dana {
  background-image: url("/dana.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -32px bottom -72px;
}

.bank-container {
  padding: 0px 100px;
  @media (max-width: 575px) {
    padding: 0px 10px;
  }
}

.footer {
  margin-top: 50px;
  background: url("/photo_bg.jpeg") center center no-repeat;
  padding: 0 !important;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  background-size: cover !important;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  span {
    color: #fff;
    font-family: "Lora", serif;
  }
  h1 {
    color: #fff;
    font-family: "Ms Madi", cursive;
  }
}

.footer-end {
  color: black;
  font-family: "Water Brush", cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.guest-container {
  text-align: left;
  .guest-list {
    max-height: 60vh;
    overflow-x: hidden;
  }
}

.guest-form {
  text-align: left;

  .caption {
    color: black !important;
  }

  .input-guest {
    border-radius: 15px;
  }
}
